In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## match up original ethics approval column from og nemar data with main database

In [30]:
# load og nemar data

df_ogData = pd.read_csv('data/nemar_ogData.csv')[['id', 'EthicsApprovals']]
df_ogData.head()

         id EthicsApprovals
0  ds000248             NaN
1  ds000117             NaN
2  ds000247             NaN
3  ds001784             NaN
4  ds001785             NaN

In [31]:
# convert og nemar data to dict

df_ogData_dict = df_ogData.set_index('id')['EthicsApprovals'].to_dict()
print({k: df_ogData_dict[k] for k in list(df_ogData_dict)[:5]})

{'ds000248': nan, 'ds000117': nan, 'ds000247': nan, 'ds001784': nan, 'ds001785': nan}

In [32]:
# load main nemar database (new data) with space for og data to be inserted in proper order

df_newData = pd.read_csv('data/data_01_05_2025.csv')
df_newData = df_newData.dropna(subset=['DatasetID'])['DatasetID']
df_newData = df_newData.to_frame()
df_newData['EthicsApprovalOG'] = np.nan
df_newData.head()

  DatasetID  EthicsApprovalOG
3  ds005342               NaN
4  ds000248               NaN
5  ds000117               NaN
6  ds000247               NaN
7  ds001784               NaN

In [40]:
# add og data to new data in proper order

for index, row in df_newData.iterrows():
    df_newData.loc[index, 'EthicsApprovalOG'] = df_ogData_dict.get(row['DatasetID'])

/var/folders/ds/qxmx4zy969v_twj4bz2m_zvw0000gn/T/ipykernel_95141/898723391.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'The experimental protocol was approved by the ethics committee of the Universidad Antonio Nari√±o' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df_newData.loc[index, 'EthicsApprovalOG'] = df_ogData_dict.get(row['DatasetID'])

In [ ]:
# export to csv

df_newData.to_csv("data/nemar_originalEthicsApproval.csv")